version: '3.8'

services:
  app:
    image: ghcr.io/mikhail-angelov/bookadvisor:latest
    container_name: bookAdvisor
    ports:
      - "127.0.0.1:3010:3000"
    volumes:
      - ./prod.db:/app/data/prod.db
    env_file:
      - ./.env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    depends_on:
      - qdrant
    command: npm start

  monic-advisor:
    image: ghcr.io/mikhail-angelov/monic:latest
    container_name: monic-advisor
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - app
      - qdrant
    env_file:
      - ./.env
    environment:
      - MONIC_APP_NAME=advisorMonitor

      - MONIC_CHECK_SYSTEM_INTERVAL=60
      - MONIC_CHECK_SYSTEM_CPU_THRESHOLD=80
      - MONIC_CHECK_SYSTEM_MEMORY_THRESHOLD=85
      - MONIC_CHECK_SYSTEM_DISK_THRESHOLD=90

      - MONIC_CHECK_DOCKER_INTERVAL=60
      - MONIC_CHECK_DOCKER_CONTAINERS=bookAdvisor,qdrant

      - MONIC_CHECK_HTTP_INTERVAL=300
      - MONIC_CHECK_HTTP_URL=https://advisor.bconf.com
      - MONIC_CHECK_HTTP_METHOD=GET
      - MONIC_CHECK_HTTP_TIMEOUT=10
      - MONIC_CHECK_HTTP_EXPECTED_STATUS=200
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "127.0.0.1:6333:6333"
      - "127.0.0.1:6334:6334"
    environment:
      - QDRANT__TELEMETRY_DISABLED: true
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
